@font-face {
    font-family: 'Engravers Gothic';
    src: url('/public/EngraversGothicBT-Regular.woff2') format('woff2'),
        url('/public/EngraversGothicBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daytona Pro Light';
    src: url('/public/DaytonaPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Engravers Gothic';
    background-color: #fffbf9;
    color: #715857;
}

button {
    font-family: 'Engravers Gothic';
    background-color: #fc3a09;
    cursor: pointer;
    border: none;
    height: 2em;
    border-radius: 5px;
}

.strikeout {
    text-decoration: line-through;
}

.hide {
    opacity: 0.2;
}

.fa-solid, .fa-regular{
    border: none;
    background-color: white;
}

.menuButton {
    border: 3px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    
}

.menuButton:hover, .menuButton-5:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#title {
    font-family: 'Daytona Pro Light';
    margin: 0;
}

#japanese {
    color:#fe6213;
    margin: 0;
}

#subheading {
    margin-top: 50px;
}

#list {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add {
    background-color: #fe6213;
    color: white;
}

#clear {
    background-color: #86686b;
    color: white;
}

#cleanse {
    background-color: #fffbf9;
    color: black;
    border: 0.3px solid;
}

#newItemForm {
    color: white;
    background: #1e1010;
    justify-items: center;
    border: none;
}

#newItemForm:focus {
    border-color: #1e1010;
}

.divOne {
    width: 100%;
    display: flex;
    padding-left: 45px;
    flex-direction: column;
    align-items: start;
}

.divTwo {
    background: #1e1010;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100vw;
}

.divThree {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
}