@font-face {
    font-family: 'Engravers Gothic';
    src: url('/public/EngraversGothicBT-Regular.woff2') format('woff2'),
        url('/public/EngraversGothicBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Engravers Gothic';
    background-color: #fffbf9;
    color: #715857;
}

.progressComp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.strikeout {
    text-decoration: line-through;
}

.hide {
    opacity: 0.2;
}

ul {
    display: flex;
    flex-direction: column;
}

.fa-solid, .fa-regular{
    border: none;
    background-color: white;
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addItem {
    background-color: #fc3a09;
    color: #fffbf9;
    border: none;
    font-family: "Engravers";
    height: 2em;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background: #fc3a09;

}
